body{
    background-color: coral;
}

.container{
    opacity: 1;
    padding: 0.4rem;
    background-color: antiquewhite;
    min-width: 200px;
    border-radius: 0.7rem;
    border: 2px solid black;
    box-shadow: 3px 3px 15px black;
    margin: 0.8rem;
    padding: 0.7rem;
}